@import './_variable.scss';

// 1. 样式重置
* {
	box-sizing: border-box;
	outline: none;
}
html {
	font-size: 12px;
}
body {
	margin: 0;
	font-family: -apple-system,Helvetica,sans-serif;
	line-height: 1.2em;
	background: map-get($colors , 'grey-1');
	-webkit-smoothing: antialiased;
}
a {
	color: #666;
	text-decoration: none;
}
p {
	line-height: 1.5em;
}

// 2. 网站色彩与字体定义
@each $colorKey,$color in $colors {
    .text-#{$colorKey} {
        color: $color;
    }

    .bg-#{$colorKey} {
        background-color: $color;
    }
}

// font-size 字体大小 
@each $sizeKey, $size in $font-sizes {
    .fs-#{$sizeKey} {
        font-size: $size * $base-font-size;
    }
}

// text 文字对齐方式
@each $var in (left, center, right) {
    .text-#{$var} {
        text-align: $var;
    }
}

// font-weight
.font-bold {
	font-weight: bold;
}

// text overflow
.text-ellipsis {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// width  height
.w-100 {
    width: 100%;
}
.h-100 {
    height: 100%;
}

// 3. 通用flex布局样式
.d-flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.flex-wrap {
    flex-wrap: wrap;
}

// justify-content 主轴
@each $key, $value in $flex-jc {
    .jc-#{$key} {
        justify-content: $value;
    }
}

// align-items 交叉轴
@each $key, $value in $flex-ai {
    .ai-#{$key} {
        align-items: $value;
    }
}

// 左边固定，右边自动拉伸
.flex-1 {
    flex: 1; // flex-grow: 1; 的简写
}

/* 5.常用边距定义 (margin, padding) */
// spacing
@each $typeKey, $type in $spacing-types {
    // .m-1 { margin: 0.25rem }
    @each $sizeKey, $size in $spacing-sizes {
        .#{$typeKey}-#{$sizeKey} {
            #{$type}: $size * $spacing-base-size;
        }
    }
    // .mx-1 { margin: 0 0.25rem 0 0.25rem } .my-1 { margin: 0.25rem 0 0.25rem 0 }
    @each $sizeKey, $size in $spacing-sizes {
        .#{$typeKey}x-#{$sizeKey} {
            #{$type}-left: $size * $spacing-base-size;
            #{$type}-right: $size * $spacing-base-size;
        }
        .#{$typeKey}y-#{$sizeKey} {
            #{$type}-top: $size * $spacing-base-size;
            #{$type}-bottom: $size * $spacing-base-size;
        }
    }
    // .mt-1 { margin-top: 0.25rem }
    @each $directionKey, $direction in $spacing-directions {
        @each $sizeKey, $size in $spacing-sizes {
            .#{$typeKey}#{$directionKey}-#{$sizeKey} {
                #{$type}-#{$direction}: $size * $spacing-base-size;
            }
        }
    }
}

/* 边框定义 (border) */
@each $dir in (top, right, bottom, left) {
    .border-#{$dir} {
        border-#{$dir}: 1px solid map-get($colors, 'border-grey');
    }
}